body {
  font-size: 12px;
  background-color: var(--bg-color);
}

.primary {
  margin: 20px auto;
  padding: 35px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.35);
}

:root,
:root.light {
  --bg-color: rgba(251, 251, 251, 0.7);
  --text-color: rgba(37, 37, 37);
}

:root.dark {
  --bg-color: rgba(41, 41, 41, 0.7);
  --text-color: #fbfbfb;
}

button {
  background: rgb(212, 235, 241);
  border: none;
  color: rgba(37, 37, 37);
  cursor: pointer;
  border-radius: 20px;
  width: 110px;
  font-size: 12 px;
  height: 33px;
}

.mode-btn.light {
  display: none;
  font-size: 14px;
  width: 50px;
  height: 33px;
  border-radius: 20px;
  margin-top: 4px;
  margin-left: 5px;
}

.mode-btn.dark {
  font-size: 14px;
  width: 50px;
  height: 33px;
  border-radius: 20px;
  margin-top: 4px;
  margin-left: 5px;
  background-color: rgb(75, 75, 75);
  color: #fbfbfb;
}

.dark .mode-btn.light {
  display: block;
  background-color: #fbfbfb;
  font-size: 14px;
}

.dark .mode-btn.dark {
  background-color: rgba(37, 37, 37);
  display: none;
  font-size: 14px;
}

.dark-mode {
  background-color: rgba(37, 37, 37);
  color: #fbfbfb;
}

div.search-row {
  margin: 0 auto;
  display: inline-flex;
  padding-left: 200px;
  padding-bottom: 25px;
}

#search-button {
  background: rgb(153, 224, 224);
  border-radius: 20px;
}

#search-button:hover {
  background: rgb(97, 199, 199);
}

#location-button {
  background: rgb(146, 180, 233);
  border-radius: 20px;
}

#location-button:hover {
  background: rgb(92, 136, 202);
}

.current-temp-weather {
  text-align: center;
  border-radius: 75px;
  padding: 5px;
}

.city-location {
  font-size: 45px;
  margin-left: 25px;
  font-weight: 600;
}

.date-time {
  margin-left: 30px;
  font-size: 21px;
  line-height: 25px;
  padding-top: 15px;
}

.current-temp {
  display: inline-block;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 49px;
  height: 60px;
  font-weight: 400;
  position: relative;
}

.temp-units {
  display: inline-block;
  margin-top: 22px;
  font-size: 16px;
  vertical-align: top;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

span.temp-units .active {
  cursor: default;
  padding: 0px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}

.current-weather-icon {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
}

#weather-icon {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}

#celsius {
  color: var(--text-color);
}

#fahrenheit {
  color: var(--text-color);
}

#current-temp-col {
  align-self: flex-end;
}

.class-weather {
  text-align: left;
  line-height: 35px;
  font-size: 17px;
  padding: 0px;
}

.current-weather-stats {
  text-align: left;
  line-height: 45px;
  font-size: 17px;
  margin-top: 50px;
}

.date {
  font-weight: bold;
}
form {
  line-height: 30px;
  font-size: 14px;
}

.search-row {
  display: inline-flex;
  margin: 0 auto;
}

.search-box {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 37, 37);
  opacity: 0.5;
  border-radius: 20px;
  text-align: center;
  border: inset 1px rgb(37, 37, 37);
  width: 250px;
}

.week-forecast {
  font-size: 15px;
}

#weekly-temperatures {
  font-size: 16px;
  padding-top: 15px;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: var(--text-color);
}

.source-code {
  color: rgb(153, 224, 224);
}

.source-code:hover {
  text-decoration: underline;
  color: rgb(71, 172, 172);
}

.week-forecast-row {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tempLow {
  opacity: 0.5;
}
